name:  "Dev Terraform Workflow"
on: 
  pull_request:
    branches: 
      - main
  push: 
   branches:
     - main 

permissions:
   id-token: write
   contents: read  

jobs: 
  terraform-init-plan:
    runs-on: self-hosted
    steps: 
      - name: Checkout
        uses: actions/checkout@v5.0.0 
      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: 064948b2-a57a-438e-94d1-2f4963c9269a
          tenant-id: d7c44a8d-e761-4608-b572-6b22608509a4
          subscription-id: a9076473-03ad-4c76-8993-4edd69689ba6

